<div class="container">
  <h2>Mon super formulaire</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">Nom</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Boulon">

      <label for="firstname">Prénom</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Jacques">

      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="jboulon@gmail.com">

      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" formControlName="login" placeholder="jboulon">

      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="123456">

      <label for="phone">Numéro de téléphone</label>
      <div class="phone-container">
        <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="06 12 34 56 78">
        <select class="form-control" id="locale" formControlName="locale">
          <option value="FR">FR 🇫🇷</option>
          <option value="US">US 🇺🇸</option>
        </select>
      </div>

      <label for="address">Adresse</label>
      <input type="text" class="form-control" id="address" formControlName="address" placeholder="11 rue des clarinettes">

      <label for="city">Ville</label>
      <input type="text" class="form-control" id="city" formControlName="city" placeholder="Paris">

      <label for="zip">Code postal</label>
      <input type="text" class="form-control" id="zip" formControlName="zip" placeholder="75000">

      <label for="country">Pays</label>
      <input type="text" class="form-control" id="country" formControlName="country" placeholder="France">

      <label for="civility">Civilité</label>
      <select class="form-control" id="civility" formControlName="civility">
        <option value="M">M</option>
        <option value="Mme">Mme</option>
        <option value="Other">Autre</option>
      </select>

      <button type="submit" class="btn btn-success" [disabled]="!clientForm.valid">Valider</button>
    </div>
  </form>
</div>
