.container {
  margin-bottom: 2.5em;
}

button {
  margin-top: 1em;
}

label {
  margin-top: 0.5em;
}

#locale {
  max-width: 8%;
  margin-right: 10px;
}

.phone-container {
  display: flex;
  flex-direction: row-reverse;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
